@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.hero-text{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-elight{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.syne{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.scrollbar-thin::-webkit-scrollbar {
    height: 3px; /* horizontal scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity: 50%;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #555;
}
